// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: monospace;
}

h1 {
  margin-left: 5%;
  margin-top: 30px;
}

#container{
  margin-left: 5%;
  margin-top: 20px;
}

ul#books {
  list-style: none;
  li.book {
    span {
      display: block;
    }
    span.title {
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: green;
    }
  }
}
