// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: monospace;
  margin-top: 20px;
}

#searchstuff{
  margin-left: 20px;

}
